* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: auto;
    background: #5e2c0b url("./components/img/topo_map.png");
    height: 100%;
    width: 100%;
    background-size: cover;
    margin: auto;
    height: 100%;
  }

  header {
    height: 100%;
  }

  .logo {
    max-width: 320px;

  }

  .edit_hike {
    font-size: 1.3em;
    margin-bottom: 6px;
  }

  .trail_pictures {
    max-width: 360px;
    border: 3px solid rgb(56, 4, 4);
    /* box-shadow: 1px 1px 8px rgb(41, 40, 40); */
  }

  .header_img {
    background: url(./components/img/shutterstock_226674508.png) no-repeat 50% 100%;
    width: 100%;
    background-size: cover;
    margin: auto;
    height: 100%;
    padding-bottom: 10px;
  
  }

  .goal_congrats {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 1.3em;
  }

  @keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

  .checkmark {
    margin-top: 15px;
    animation: bounceIn 1s;
  }

.dashTop_container, .add_hike_container, .trail_form_container, .goal_edit_container, .login_container, .search_field, .trail-content {
  background-color: rgb(245, 212, 177);
  padding-bottom: 15px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(46, 6, 6);
}

.Modal {
  background-color: rgb(245, 212, 177);
  margin: auto;
  position: absolute;
  border-style: solid;
  border-width: 5px;
  height: 300px;
  border-color: rgb(46, 6, 6);
}

.dashTop_container p {
  margin-bottom: 3px;
  margin-top: 3px;
}

.trail-content {
  padding-bottom: 5px;
}

.search_words {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  font-size: .8em;
}

#search_field {
  width: 275px;
}

input#name {
  width: 200px;

}

input#date.form-control {
  margin-left: 7px;
}

input#miles {
  margin-left: 40px;
}

.trail_form_container, .add_hike_container {
  text-align: left;
  padding-left: 10px;
  max-width: 800px;
  margin: auto;
}


.add_hike_h3 {
  text-align: center;
}
.submit {
  margin-right: 10px;
}

.form_buttons {
  text-align: center;
}

.log_button {
  margin-bottom: 10px;
  margin-top: 10px;
}

.sign_out {
  font-size: .8em;
}

input[type=text], input[type=date], input[type=number], select {
  width: 80%;
  padding: 5px 5px;
  outline: 0px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(58, 0, 0);
  border-radius: 2px;
  box-sizing: border-box;
}



.reg_buttons {
  margin-top: 15px;
}

#username, #password {
  width: 180px;
  padding: 5px 5px;
  outline: 0px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(58, 0, 0);
  border-radius: 2px;
  box-sizing: border-box;
}

input[type=number] {
  width: 50px;
}

input[type=date] {
  width: 130px;
}


.userMiles, .userPerc {
  font-weight: bold;
  font-size: 1.2em;
  color: rgb(73, 42, 9);
  text-decoration: underline;
}

.tag_name {
  margin-top: 0;
  color: rgb(235, 232, 232);
  margin-bottom: 30px;
}

.welcome_h3 {
  margin: 0;
  margin-bottom: 5px;
  padding-top: 10px;
}

.edit_button {
  margin-right: 10px;
}

.back_to_dashboard {
  margin-top: 15px;
}

.card-content {
  background-color: rgb(250, 235, 223);
  padding-top: 5px;
  width: 100%;
  margin: auto;
  margin-top: 15px;
  border-radius: 10px;
  margin-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  line-height: 1.2em;
  border: 3px solid rgb(58, 0, 0);
  box-shadow: 2px 2px 15px rgb(41, 40, 40);
}

.card-content:hover {
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: rgb(77, 11, 11);
  font-weight: bold;
  font-size: .9em;
}

a:hover {
  text-decoration: underline;
}

.card_item {
  font-size: .9em;
}

.card-content p {
  margin: 6px;
}

.trail_stats {
  font-size: .9em;
}

.comments {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1em;
  padding-bottom: 10px;
}

p.card_miles {
  margin-top: 0px;
  margin-bottom: 10px;
}


.hike__name, .trail_name {
  margin-bottom: 3px;
  font-size: 1.4em;
}

.trail_name {
  margin-top: 12px;
}

.card__buttons {
  margin-top: 10px;
}


.hiking_log {
  color: rgb(245, 212, 177);
  /* background-color: rgb(245, 212, 177); */
 
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  text-shadow: 2px 2px 8px rgb(32, 32, 32);
  border: 4px;
  font-size: 1.3em;
}

.trail_search {
  color: black;
 
  width: 320px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#comments.card_item {
  margin-bottom: 0px;
}

.dash_content_Container {
  height: 100%;
}

.dash_add_container, .dash_log_container, .search__container {
  padding-bottom: 15px;
  border-style: solid;
  /* border-width: 10px; */
  border-color: rgb(46, 6, 6);
  height: 180px;
}


.addHike_container {
  height: 180px;
}

.progressBar {
  max-width: 70px;
  padding-bottom: 8px;
}

.addHike_container .dash_bg_image {
    position: absolute;
    background: #5e2c0b url("./components/img/trail_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 180px; 
}

.viewLog_container .dash_bg_imageTwo {
  position: absolute;
  background: #5e2c0b url("./components/img/trail_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 180px; 
}

.search_container .dash_bg_imageThree {
  position: absolute;
  background: #5e2c0b url("./components/img/trail_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 180px; 
}

 /* main page buttons for features */
.add_hike, .hike_log, .view_trails {
  align-content: center;
  justify-content: center;
  height: 40px;
  font-size: 1.1em;
  text-decoration: none;
  margin: 0px;
  text-align: center;
  margin-top: 68px;
  letter-spacing: .4px;
}

.hike_log {
  margin-left: 10px;
}

.sign_out {
  margin-bottom: 10px;
  height: 30px;
}

.back_to_dashboard, .pick_trail {
  margin-bottom: 10px;
  background: rgb(99, 13, 13);
  color: white;
}

.pick_trail {
  margin-bottom: 10px;
  background: rgb(99, 13, 13);
  color: white;
  font-size: .8em;
}

.pick_trail:hover {
  background-color: rgb(245, 212, 177);
  color: #363636;
}

.back_to_dashboard:hover {
  background-color: rgb(245, 212, 177);
  color: #363636;
}

button {
  display: inline-block;
  border: 2px solid rgb(0, 0, 0);
  margin: 1em, 1em;
  text-decoration: none;
  background-color: rgb(245, 212, 177);
  color: #363636;
  padding: 1.5em, 2em;
  font-size: 1rem;
  cursor: pointer;
  /* text-align: center; */
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.goal_change {
  margin-top: 5px;
}

button:hover,
button:focus {
  background: rgb(99, 13, 13);
  color: white;
}

#back_to_dashboard {
  margin-left: 5px;
}
.edit_button {
  display: inline-block;
  border: 1px solid #666;
  margin: 1em, 1em;
  text-decoration: none;
  background: rgb(99, 13, 13);
  color: white;
  padding: 1.5em, 2em;
  font-size: 1rem;
  cursor: pointer;
  /* text-align: center; */
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.edit_button:hover {
  background-color: rgb(245, 212, 177);
  color: #363636;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}